# Cartelle di output compilazione
/bin/
/build/

# Binary e eseguibili isolati
*.exe
*.out
*.app

# File oggetto e librerie
*.o
*.a
*.so
*.dylib

# Debug symbol folders (macOS lldb / gdb)
*.dSYM/
*.su
*.idb
*.pdb

# Editor & IDE
.vscode/
.idea/
*.swp
*~

# File di sistema macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Log e temporanei
*.log
tmp/
